/* css */

span{
    display: inline-block;
}

.gif{
    margin: 10px 5px;
}
.input-group{
    margin: 10px;
    width: 95%;
}

#images{
    margin: 20px;
    text-align: center;
}

#images img{
    margin: 5px;
}